body {
    background-image : url("peru2.jpg");
    background-repeat : no-repeat; 
    background-position: left top;
    background-size: cover;  
    height: 800px; 
    font: 43 px; 
}
.menu {
  width:110px;
  padding: 50px;
  float: left;
  padding-bottom: 4in; 
  border-radius:20px;
  border: 3px solid rgb(32, 11, 11);
  background-color: white;
  background-image: url("peru1.jpg");
  font: white; 
} 

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
    cursor: pointer;
    text-decoration-color:rgb(32, 11, 11); 
    
}

a:active {
    text-decoration: underline; 

}

h1 { 
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5em;
    text-shadow: 3px 3px white; 

}